.banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.trending-selector {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-left: 0.6rem;
}

.trending-selector button {
  border: 1px solid black;
  border-radius: 15px;
  height: 25px;
  width: 8rem;
  font-weight: bold;
  font-size: 14px;
  margin-left: 1rem;
  margin-right: -5px;
}

.green-background {
  background-color: #129c0d;
  color: white;
}

.trending-movie-list {
  background-image: url("../../../assets/images/trending.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.upcoming-movies {
  background-image: url("../../../assets/images/trailer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

